<div class="container">
    <h1>Мой список пользователей</h1>
    <button (click)="clearUsers()">Remove all</button>
    @for (user of users; track user.id) {
        <div class="user-item" (click)="onUserClick(user.firstName)">
            <p>Name: {{user.firstName}}</p>
            <p>Last name: {{user.secondName}}</p>
            <button (click)="removeUser(user.id); $event.stopPropagation()">Remove</button>
        </div>
    } @empty {
        <p>Список пользователей пуст!</p>
    }
    <div class="add-user-form">
        <h2>Добавить пользователя</h2>
        <div>
            <div>
                <label  for="firstName">
                    Имя пользователя
                    <input #firstName type="text" id="firstName" name="firstName">
                </label>
            </div>
            <div>
                <label for="secondName">
                    Фамилия пользователя
                    <input #secondName type="text" id="secondName" name="secondName">
                </label>
            </div>
            <button (click)="addUser({firstName: firstName.value, secondName: secondName.value}); firstName.value = ''; secondName.value = ''">Добавить пользователя</button>
        </div>       
    </div>
</div>
